<header class="header">
    <div class="container">
        <div class="header__wrap">
            <a href="javascript:;" class="header__logo">
                <img src="img/header-logo.svg" alt="">
            </a>

            <div class="header__menu">
                <ul class="header__menu__list">
                    <li class="header__menu__list-item">
                        <a href="javascript:;" class="header__menu__list-item-link">About</a>
                    </li>
                    <li class="header__menu__list-item header__menu__list-item--dropdown">
                        <a href="javascript:;" class="header__menu__list-item-link">Help</a>
                        <svg width="10" height="6" class="header__menu__list-item-icon">
                            <use xlink:href="img/icons/sprite.svg#dropdown-menu"></use>
                        </svg>
                        <ul class="header__menu__dropdown-list">
                            <li class="header__menu__dropdown-list-item">
                                <a href="javascript:;" class="header__menu__dropdown-list-item-link">
                                    User Guide
                                </a>
                            </li>
                            <li class="header__menu__dropdown-list-item">
                                <a href="javascript:;" class="header__menu__dropdown-list-item-link">
                                    Contact Support
                                </a>
                            </li>

                            
                        </ul>
                    </li>
                    <li class="header__menu__list-item">
                        <a href="javascript:;" class="header__menu__list-item-link">Features</a>
                    </li>
                </ul>

                <button class="header__menu__btn">
                    Sign Up
                </button>
            </div>

            <div class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>