.features {
    &__slider {
        background-color: $yellow;
        margin: 0 -20px 73px!important;
        padding: 38px 10px 88px;

        .slick-track {
            padding: 6px 0 12px;
        }

        .slick-prev:before,
        .slick-next:before
        {
            font-family: none;
        }

        /* Dots */
        .slick-dotted.slick-slider
        {
            margin-bottom: 0;
        }

        .slick-dots
        {
            position: absolute;
            bottom: 30px;
            left: 0;
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;
        }
        .slick-dots li
        {
            position: relative;
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 20px;
            background-color: $white;
            margin: 0 8px;
            padding: 0;
            cursor: pointer;
        }
        .slick-dots li button
        {
            display: none;
        }
    
        .slick-dots li button:before
        {
            display: none;
        }
        .slick-dots li.slick-active
        {            
            background-color: $pink;
            transform: scale(1.5);
        }

        
    }

    &__slider-item {
        padding: 0 10px;
        
    }

    &__slider-item-content {
        background-color: $lightorange;
        box-shadow: 0px 10px 0px #F5BD3F;
        border-radius: 50px;
        padding: 40px 30px;
        position: relative;
    }

    &__slider-item-count {
        display: none;
        font-size: 202px;
        line-height: 160%;
        font-weight: 700;
        color: $violet;
        position: absolute;
        left: -65px;
        top: -40px;
    }

    &__slider-item-label {
        position: absolute;
        top: -6px;
        left: 30px;
        box-shadow: 0px 4px 0px #EFE3C5;
        border-radius: 0px 0px 4px 4px;
        background-color: $pink;
        font-weight: 500;
        font-size: 18px;
        line-height: 34px;
        color: $white;
        width: 69px;
        height: 34px;
        text-align: center;
    }

    &__slider-item-title {
        font-size: 25px;
        line-height: 130%;
        color: $darkviolet;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__slider-item-text {
        font-size: 16px;
        line-height: 160%;
        color: $grey;
        margin-bottom: 20px;
    }

    &__slider-item-link {
        font-size: 16px;
        line-height: 160%;
        font-weight: 700;
        color: $darkviolet;
        position: relative;
        padding-right: 46px;

        &:after {
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            bottom: 0;
            width: 22px;
            height: 16px;
            margin: auto;
            background-image: url(../img/icons/arrow-link.svg);
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}

@media screen and (min-width: 576px) {
    .features {
        padding: 0 13px;

        &__slider {
            background-color: $yellow;
            margin: 0 auto 92px!important;
            padding: 97px 11vw 130px;
            max-width: 682px;
            border-radius: 50px;

            .slick-dots
            {
                left: 60px;
                bottom: 55px;
                text-align: left;
            }


        }
        
        &__slider-item {
            padding: 0 60px;
            
        }

        &__slider-item-content {
            padding: 40px 56px 40px 11vw;
        }

        &__slider-item-count {
            display: block;
        }
    }
}

@media screen and (min-width: 768px) {
    .features {
        

        &__slider {
            background-color: $yellow;
            margin: 0 auto 73px!important;
            padding: 97px 90px 130px;
            max-width: 682px;
            border-radius: 50px
        }
        
        &__slider-item {
            padding: 0 60px;
            
        }

        &__slider-item-content {
            padding: 40px 56px 40px 11vw;
        }

        &__slider-item-count {
            display: block;
        }
    }
}

@media screen and (min-width: 992px) {
    .features {
    

        &__slider {
            padding: 97px 40px 130px;
            max-width: 1200px;
        }

        &__slider-item-content {
            padding: 40px 60px 40px 11vw;
        }

        &__slider-item-link {
            transition: 0.2s;

            &:hover {
                color: $violet;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .features {
        

        &__slider {
            padding: 97px 75px 130px;
            margin: 0 auto 150px!important;
            max-width: 1200px;
        }

        &__slider-item {
            padding: 0 75px;            
        }

        &__slider-item-content {
            padding: 40px 60px 40px 114px;
        }

    }
}